{% extends "base.html" %}
{% block content %}
    <div class="container mt-4">
        <h2>Kirgan Mashinalar Ro'yxati</h2>
        <table class="table table-bordered mt-3">
            <thead>
            <tr>
                <th>#</th>
                <th>Davlat raqami</th>
                <th>Rasm</th>
                <th>Qoʻlda kiritilganmi?</th>
                <th>Vaqti</th>
                <th class="py-2 px-4">Amallar</th>

            </tr>
            </thead>
            <tbody id="entry-table-body">
            </tbody>
        </table>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const token = localStorage.getItem("access");

            if (!token) {
                alert("Tizimga kirmagansiz.");
                return;
            }

            fetch('/api/entries/', {
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + token,
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    const tbody = document.getElementById("entry-table-body");
                    tbody.innerHTML = ''; // 🔑 oldingi ma'lumotlarni tozalash

                    data.forEach((entry, index) => {
                        const photoUrl = entry.photo_front_url || "";

                        const row = `
                    <tr>
                        <td>${index + 1}</td>
                        <td>${entry.plate_number || 'Davlat raqamisiz'}</td>
                        <td>
                            ${photoUrl ? `<img src="${photoUrl}" width="120"/>` : 'Yo‘q'}
                        </td>
                        <td>${entry.is_manual ? '✅' : '❌'}</td>
                        <td>${new Date(entry.timestamp).toLocaleString()}</td>
                        <td class="py-2 px-4">
                            <a href="/vehicle-detail/?id=${entry.id}"
                               class="inline-block bg-blue-500 hover:bg-blue-600 text-white text-sm font-medium py-1 px-3 rounded bg-info">
                               Ko‘rish
                            </a>
                        </td>
                    </tr>
                `;
                        tbody.innerHTML += row;
                    });
                })
                .catch(err => {
                    console.error("Xatolik:", err);
                });
        });
    </script>
{% endblock %}
